$red: rgb(175, 4, 69);
$reddark: rgb(126, 0, 48);
$dark: rgb(33, 33, 33);
$lightdark: rgba(33, 33, 33, 0.711);
$pink: rgb(255, 239, 239);
$yellow: #ffd11a;
$orange: #eb7b03;
$blue: #53d1e7;
$bluedark: #0a798c;
